name: integration-test

on:
  push:
    branches:
      -master
  pull_request:

jobs:
  integration-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.5'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1.2'

      - name: Install Fastlane
        run: sudo gem install fastlane

      - if: matrix.os == 'macos-latest'
        name: Install Fastlane (macOS)
        run: sudo gem install fastlane

      - if: matrix.os == 'windows-latest'
        name: Install Fastlane (Windows)
        run: gem install fastlane

      - name: Run bundle install
        run: bundle install

      - name: Run integration tests
        run: test/integration-test.sh
