name: integration-test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  integration-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11.9"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.2"

      - if: matrix.os != 'windows-latest'
        name: Install Fastlane {{ matrix.os }}
        run: sudo gem install fastlane

      - if: matrix.os == 'windows-latest'
        name: Install Fastlane {{ matrix.os }}
        run: gem install fastlane

      - name: Run bundle install
        run: bundle install

      - name: Run integration tests
        run: test/integration-test.sh
