name: integration-test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  integration-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.11.9"
      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: "3.1.2"

      - if: matrix.os != 'windows-latest'
        name: Install Fastlane {{ matrix.os }}
        run: sudo gem install fastlane

      - if: matrix.os == 'windows-latest'
        name: Install Fastlane {{ matrix.os }}
        run: gem install fastlane

      - name: Run bundle install
        run: bundle install

      - name: Run integration tests
        run: test/integration-test.sh
