  
name: Build Release

on:
  push:
    branches:
      - release/**
permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2
    - uses: actions/setup-node@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: Build gem source
      run: bundle install && gem build fastlane-plugin-sentry.gemspec
    - name: Archive Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ github.sha }}
        path: '*.gem'