  
name: Build Release

on:
  push:
    branches:
      - release/**
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: Build gem source
      run: bundle install && gem build fastlane-plugin-sentry.gemspec
    - name: Archive Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.sha }}
        path: '*.gem'