name: Build Release

on:
  push:
    branches:
      - release/**
permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Build gem source
        run: bundle install && gem build fastlane-plugin-sentry.gemspec
      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.sha }}
          path: "*.gem"
