name: test

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install sentry-cli
        run: curl -sL https://sentry.io/get-cli/ | bash

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1.4'

      - run: gem update bundler
      - run: bundle install
      - run: sentry-cli info --config-status-json
      - run: bundle exec rubocop
      - run: rspec
