name: test

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install sentry-cli
        run: curl -sL https://sentry.io/get-cli/ | bash

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: "3.1.4"

      - run: gem install bundler -v '2.6.8'
      - run: bundle install
      - run: sentry-cli info --config-status-json
      - run: bundle exec rubocop
      - run: rspec
