name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: "0 3 * * *"
  # And on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write # To modify files and create commits
  pull-requests: write # To create and update pull requests
  actions: write # To cancel previous workflow runs

jobs:
  update-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: script/sentry-cli.properties
          name: CLI
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  update-binaries:
    runs-on: ubuntu-latest
    needs: update-cli
    if: needs.update-cli.outputs.originalTag != needs.update-cli.outputs.latestTag
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.update-cli.outputs.prBranch }}
      - name: Download latest binaries.
        run: script/sentry-cli-download.sh
      - name: Commit latest binaries.
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # https://github.com/stefanzweifel/git-auto-commit-action/releases/tag/v4.14.1
        with:
          branch: ${{ needs.update-cli.outputs.prBranch }}
          commit_message: bump bundled binaries
